export PDK_ROOT="$PWD"
export PDK=ihp-sg13cmos5l
export PDKPATH="$PWD"/ihp-sg13cmos5l
export STD_CELL_LIBRARY=sg13cmos5l_stdcell
export SPICE_USERINIT_DIR="$PWD"/ihp-sg13cmos5l/libs.tech/ngspice
export KLAYOUT_PATH=/headless/.klayout:"$PWD"/ihp-sg13cmos5l/libs.tech/klayout

